{% extends 'base.html' %}

{% block list_form %}{{ block.super }}{% endblock %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>

    <section>
        <form method="POST" action="{% url 'share_list' list.id %}">
            <input name="email" type="email" placeholder="your@friends-email.com" />
            <inut type="submit" />
            {% csrf_token %}
        </form>
    </section>

    <section>
    <h2>Shared with:</h2>
        <ul class="list-sharee">
            {% for item in list.shared_with.all %}
                <li>{{ item.email }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}